:root {
  --background: #f6f8fb;
  --entry-background: #fafafb;
  --text: #55525c;
  --visited: #b4b6d2;
  --highlight: #2d49dd;
  --post: #515f82;
  --shade: #e8e9f5;
  --selected: #fff;
  --link: #eae9f5;
}

@media (prefers-color-scheme:dark) {
  :root {
--background: #1c1d1e;
--text: #d1d3d7;
  --visited: #686e79;
--shade: #21252f;
--selected: #24273a;
--highlight: #6f80dd;
--post: #717ea2;
--entry-background: #2c3240;
--link: #212537;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  font-size: 14px;
  background: var(--background);
  text-align: left;
  display: flex;
  justify-content: center;
  line-height: 1.6;
  margin: 0px 15px;
}


.nav {
  position: fixed;
  width: 100%;
  background: var(--background);
  padding: 10px;
  text-align: center;
  z-index: 5050;
  font-size: .9em;
  font-weight: bold;
  box-shadow: 0 1px 2px hsla(0,0%,0%,0.05), 0 1px 4px hsla(0, 0%, 0%, 0.05), 0 2px 8px hsla(0, 0%, 0%, 0.05);
}

.navlink {
text-decoration: none;
color: var(--text);
margin: 0px 10px;
cursor: pointer;
padding: 3px 7px;
border-radius: 5px;
}

.activenav {
background: var(--highlight);
color: var(--background);
}

.streams, .stream, .links {
  width: 100%;
  max-width: 600px; 
  display: flex;
  flex-direction: column;
}

.streams {
margin: 60px 0px 20px 0px;
}

.links {
  margin: 20px 0px;
}


.streamTitle {
color: var(--text);
font-weight: bold;
text-align: center;
font-size: 1.8em;
}


.streamSubtitle {
color: var(--text);
text-align: center;
font-size: .8em;
}

.entry {
  text-decoration: none;
  color: var(--text);
  /* background: var(--entry-background);
  border-radius: 10px;
  box-shadow: 0.2px 0.4px 0.8px -10px rgba(0,0,0,0.03), 0.4px 0.9px 2px -10px rgba(0,0,0,0.030), 0.8px 1.8px 3.8px -10px rgba(0,0,0,0.038), 1.3px 3.1px 6.7px -10px rgba(0,0,0,0.045), 2.5px 5.8px 12.5px -10px rgba(0,0,0,0.06), 6px 14px 10px -10px rgba(0, 0, 0, 0.05);
  border: 1px solid var(--shade); */
  display: flex;
}




.target {
  background: var(--link);
  min-width: 20px;
  margin: 5px 0px;
  border-right: 1px solid var(--highlight);
}
.target:hover {
  background: var(--highlight);
}

.header {
display: flex;
flex-direction: row;
align-items: baseline;
justify-content: space-between;
margin-bottom: 5px;
}

.streams a:not(.person, .post):visited {
  color: var(--visited);
}

a.anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}

.content {
  padding: 12px;
  width: 100%;
  margin: 5px 0px;
}

.content:hover {
  background: var(--selected);
}


.context, .post_content {
  font-size: .9em;
  opacity: .7;
}


.person {
  padding: 0px 4px;
  text-decoration: none;
  color: var(--highlight);
}

.person:hover, .post a:hover, .post a:not(.mention):hover {
  text-decoration: underline;
}

.post {
text-decoration: none;
color: var(--post);
font-size: .98em;
}


.post_content {
  display: block;
  border: 1px solid var(--shade);
  padding: 15px 18px;
  margin: 15px 0px 0px 0px;
  border-radius: 5px;
  line-height: 1.6;
  background: var(--selected);
}

.post_content p {
margin: 0;
}

.post a:not(.mention) {
  text-decoration: none;
  color: var(--highlight);
  font-weight: bold;
}

.invisible {
display: none;
}

.ellipsis::after {
content: "...";
}

.mention.hashtag, .u-url.mention {
background: var(--shade);
padding: 0px 4px;
color: var(--post);
text-decoration: none;
border-radius: 5px;
}

.post_content:hover {
border-color: var(--highlight);
/*! background: var(--selected) */
}


.published {
color: var(--text);
font-size: .8em;
/*! margin-top: 15px; */
opacity: .7;
min-width: 40px;
text-align: right;
}