:root {
    --background: #edeff2;
    --entry-background: #fafafb;
    --text: #55525c;
    --visited: #b4b6d2;
    --highlight: #2d49dd;
    --post: #515f82;
    --shade: #e8e9f5;
    --selected: #fff;
}

@media (prefers-color-scheme:dark) {
    :root {
	--background: #1c1d1e;
	--text: #d1d3d7;
    --visited: #6f6f6f;
	--shade: #242937;
	--selected: #2c3240;
	--highlight: #6f80dd;
	--post: #717ea2;
	--entry-background: #2c3240;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    font-size: 16px;
    background: var(--background);
    text-align: left;
    display: flex;
    justify-content: center;
    line-height: 1.6;
    margin: 0px 10px;
}

.streams, .stream, .links {
    width: 100%;
    max-width: 600px; 
    display: flex;
    flex-direction: column;
}

.streams {
  margin: 20px 0px;
}

.links {
    gap: 15px;
    margin: 20px 0px;
}


.streamTitle {
  color: var(--text);
  font-weight: bold;
  text-align: center;
  font-size: 1.8em;
}


.streamSubtitle {
  color: var(--text);
  text-align: center;
  font-size: .8em;
}

.entry {
    text-decoration: none;
    color: var(--text);
    background: var(--entry-background);
    border-radius: 10px;
    box-shadow: 0.2px 0.4px 0.8px -10px rgba(0,0,0,0.03), 0.4px 0.9px 2px -10px rgba(0,0,0,0.030), 0.8px 1.8px 3.8px -10px rgba(0,0,0,0.038), 1.3px 3.1px 6.7px -10px rgba(0,0,0,0.045), 2.5px 5.8px 12.5px -10px rgba(0,0,0,0.06), 6px 14px 10px -10px rgba(0, 0, 0, 0.05);
    border: 1px solid var(--shade);
}

a:not(.person, .post):visited {
    color: var(--visited);
}

.content {
    padding: 15px 17px;
    border-radius: 5px;
}

.content:hover {
    background: var(--selected)
}

.title {
    margin-bottom: 12px;
    font-weight: bold;
}

.context {
    font-size: .8em;
    opacity: .6;
}

.peoplediv {
    font-weight: bold;
  }

.person {
    padding: 0px 4px;
    text-decoration: none;
    color: var(--highlight);
    font-weight: bold;
}

.person:hover, .post a:hover, .post a:not(.mention):hover {
    text-decoration: underline;
}

.post {
	text-decoration: none;
	color: var(--text);
	color: var(--post);
	font-size: .98em;
}


.post_content {
    display: block;
    border: 1px solid var(--shade);
    padding: 15px 18px;
    margin: 15px 0px 0px 0px;
    border-radius: 5px;
    line-height: 1.6;
    background: var(--shade);
}

.post_content p {
  margin: 0;
}

.post a:not(.mention) {
    text-decoration: none;
    color: var(--highlight);
    font-weight: bold;
}

.invisible {
  display: none;
}

.ellipsis::after {
  content: "...";
}

.mention.hashtag, .u-url.mention {
  background: var(--shade);
  padding: 0px 4px;
  color: var(--post);
  text-decoration: none;
  border-radius: 5px;
}

.post_content:hover {
  border-color: var(--highlight);
  /*! background: var(--selected) */
}


.published {
  color: var(--text);
  font-size: .8em;
  margin-top: 15px;
  opacity: .6;
}